extends /resources/layouts/main/main

//-///////////////////////////////// Mixins ////////////////////////////////////

//-////////////////////////////////// DOM //////////////////////////////////////

block main
	h1.mb-3 Projects

	p.text-danger TODO: Projects
