.checkered-bg {
  background-color: #eeeeec;
  background-image: linear-gradient(45deg, #d3d7cf 25%, transparent 25%, transparent 75%, #d3d7cf 75%, #d3d7cf), linear-gradient(45deg, #d3d7cf 25%, transparent 25%, transparent 75%, #d3d7cf 75%, #d3d7cf);
  background-size: 32px 32px;
  background-position: 0 0, 16px 16px;
}
