extends /resources/layouts/main/main
include /resources/layouts/main/util/tabs

append scripts
	script( src = "index.js" )

block main
	.row
		.col-xs-12
			h1 Converter

	.card
		+tab-nav
			+tab-nav-link( "Colour", "tab--colour" )
		+tab-page( "tab--colour" )
			h3 RGB
			.row
				.col-sm-4
					.input-group
						span.input-group-addon Red
						input#colour--rgb--r.form-control(
							type = "number"
							step = 1
							min = 0
							max = 255
							value = 97
						)
				.col-sm-4
					.input-group
						span.input-group-addon Green
						input#colour--rgb--g.form-control(
							type = "number"
							step = 1
							min = 0
							max = 255
							value = 147
						)
				.col-sm-4
					.input-group
						span.input-group-addon Blue
						input#colour--rgb--b.form-control(
							type = "number"
							step = 1
							min = 0
							max = 255
							value = 207
						)
			br
			h3 Hex
			.input-group
				span.input-group-addon #
				input#colour--hex.form-control(
					type = "text"
					value = "6193CF"
				)
			br
			h3 Display
			.card#colour--display--card( style = "background-color: #6193CF" )
				.card-body
					p.text-dark Dark Text
					span.text-light Light Text
			.card.bg-light.mt-2
				.card-body
					span#colour--display--lightbg( style = "color: #6193CF" )
						| On a light background
			.card.bg-dark.mt-2
				.card-body
					span#colour--display--darkbg( style = "color: #6193CF" )
						| On a dark background
