extends /resources/layouts/main/main

block main
	p Hello:

	:markdown-it
		- [GitHub](https://github.com/lixquid)
		- [GitLab](https://gitlab.com/lixquid)
		- [Steam](https://steamcommunity.com/lixquid)
