html, head, body
	width 100%
	height 100%
	padding 0
	margin 0

body
	background:
		url( "img/overlay.png" ),
		url( "img/storm.jpg" ) no-repeat fixed center,
		#333
	background-size auto, cover

	color #ccc

a
	color #ccc

	transition color .2s

a:hover
	color #fff

#bg-info
	position absolute
	top 1em
	right 1em

#logo_container
	position absolute
	top 50%
	left 50%
	transform translate( -50%, -50% )

	width 80vw

	text-align center

#logo
	width 20vw
	height @width

#links
	width 100%

	text-align center

	a + a
		margin-left 1em

#more_arrow
	position fixed
	bottom 20px
	left 50%
	transform translate( -50%, 0 )

	color #ccc5

	z-index 0

	animation 1s ease-in-out infinite alternate more_arrow_animate

	@keyframes more_arrow_animate
		from
			color #fff4
		to
			color #fff6

#push
	display block

	width 100%
	height 100%

#footer
	position relative

	width 100%
	min-height 300px
	padding 4%

	background #333

	z-index 5

#bg-info, #links, #quote
	text-shadow 1px 1px 0 #0006
