html,
head,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url("img/overlay.png"), url("img/storm.jpg") no-repeat fixed center, #333;
  background-size: auto, cover;
  color: #ccc;
}
a {
  color: #ccc;
}
a:hover {
  color: #fff;
}
#bg-info {
  position: absolute;
  top: 1em;
  right: 1em;
}
#logo_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
}
#logo {
  width: 100%;
}
#links {
  width: 100%;
  text-align: center;
}
#links a + a {
  margin-left: 1em;
}
