// Block Elements //////////////////////////////////////////////////////////////

body
	background #fff

	color #336
	font-family Helvetica, Arial, sans-serif

// Header //////////////////////////////////////////////////////////////////////

.main--container
	width 100%
	max-width 800px
	padding 0 1rem
	margin 3rem auto
	box-sizing border-box

.main--nav
	width 100%

	color #bbb
	font-size 1.2rem
	text-align center

	a
		color #557
		text-decoration none

		&:hover
			color #57d

	.main--nav--separator
		margin 0 .5rem

	.main--nav--hr
		display inline-block
		width 200px
		height 1px
		margin 31px 30px

		border none
		background #ccc

		@media (max-width 650px)
			width 25%
			margin 31px 5%

.main--logo
	display inline-block

	width 64px
	height @width
	margin 0 auto 1rem auto

	img
		width @width
		height @width

		vertical-align initial

// Main ////////////////////////////////////////////////////////////////////////

#main--main
	margin 3rem 0

// Footer //////////////////////////////////////////////////////////////////////

.main--footer
	max-width 400px
	margin-left auto

	color #aaa
	font-size .8rem
	text-align right
