// Block Elements //////////////////////////////////////////////////////////////

body
	background #fff

	color #336
	font-family Helvetica, Arial, sans-serif

a
	color #57d
	text-decoration none

	&:hover
		text-decoration underline

pre
	padding .5em

	background #eee

	line-height 1.4

code
	background #eee
	padding .1em .3em

	border-radius .2em

dt
	margin-top 1em

// Header //////////////////////////////////////////////////////////////////////

.main--container
	width 100%
	max-width 800px
	padding 0 1rem
	margin 3rem auto
	box-sizing border-box

.main--nav
	width 100%

	color #bbb
	font-size 1.2rem
	text-align center

	a
		color #557
		text-decoration none

		&:hover
			color #57d

	.main--nav--separator
		margin 0 .5rem

	.main--nav--hr
		display inline-block
		width 200px
		height 1px
		margin 31px 30px

		border none
		background #ccc

		@media (max-width 650px)
			width 25%
			margin 31px 5%

.main--logo
	display inline-block
	margin 0 auto 1rem auto

	img
		width 64px
		height 64px

// Main ////////////////////////////////////////////////////////////////////////

.main--main
	margin 3rem 0

// Footer //////////////////////////////////////////////////////////////////////

.main--footer
	max-width 400px
	margin-left auto

	color #aaa
	font-size .8rem
	text-align right

// Blog ////////////////////////////////////////////////////////////////////////

.blog--title
	margin 0

	font-size 2rem

.blog--subtitle
	margin .5rem 0 2rem 0

	color #bbb
	font-size .8rem
	font-weight normal

.blog--link
	display inline-block

	width 100%
	margin-bottom 1.5rem

	h2
		margin 0

	sub, sub:hover
		color #999
		text-decoration none
