extends /resources/layouts/base/base

//- Blocks -------------------------------------------------------------------//

block head
	link(
		href = ROOT + "/resources/layouts/main/main.css"
		rel = "stylesheet"
	)
	meta(
		name = "viewport"
		content = "width=device-width, initial-scale=1"
	)
	meta(
		encoding = "utf-8"
	)

block body

	.main--container
		header.main--nav
			hr.main--nav--hr
			a( href = ROOT + "/" ).main--logo
				img(
					src = ROOT + "/resources/layouts/main/logo.png"
					alt = "Lixquid"
				)
			hr.main--nav--hr
			nav
				mixin main--nav--separator
					span.main--nav--separator /

				a( href = ROOT + "/projects" ) Projects
				+main--nav--separator
				a( href = ROOT + "/gadgets" ) Gadgets
				+main--nav--separator
				a( href = ROOT + "/blog" ) Blog

		main.main--main
			block main
				p
					a( href = "https://github.com/lixquid" ) GitHub
				p
					a( href = "https://bitbucket.org/lixquid" ) BitBucket
				p
					a( href = "https://gitlab.com/lixquid" ) GitLab



		footer.main--footer#main--footer--quote
			p Inspirational Quote

	script( src = ROOT + "/resources/layouts/main/main.js" )

//- Includes -----------------------------------------------------------------//
