extends /resources/layouts/main/main

block pre
	-
		ACTIONBAR = {
			name: "IP Colour"
		}

append head
	link(
		rel = "stylesheet"
		href = "index.css"
	)

append body
	script( src="index.js" )

block main
	#ipcolour--bg
		#ipcolour--main 255.255.255.255
