@require "resources/layouts/main/util"

#ipcolour--bg
	background url( "transparent.png" )

#ipcolour--main
	width 100%

	background #fff
	border 2px solid #333

	color #eee
	font-autosize 11vw
	text-align center

	text-shadow:
		2px 2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		-2px -2px 0 #000
