extends /resources/layouts/main
include /resources/vendor/bootstrap
include /resources/vendor/vue/dev
include /resources/vendor/fontawesome
include /resources/vendor/clipboardjs

append scripts
    script(src = "/resources/lib/RandomNumberGenerator.js")
    script(src = "index.js")

block main
    h1 Random Generator

    .alert.alert-danger.mb-3#insecure--warning
        strong Warning
        | : Your browser does not support generating securely random numbers.

    .card
        .card-header
            nav.nav.nav-tabs.card-header-tabs
                a.nav-item.nav-link.active(
                    data-toggle = "tab"
                    href = "#random--numbers"
                ) Numbers
                a.nav-item.nav-link(
                    data-toggle = "tab"
                    href = "#random--strings"
                ) Strings
                a.nav-item.nav-link(
                    data-toggle = "tab"
                    href = "#random--coinflip"
                ) Coin Flips
        .tab-content
            .tab-pane.fade.show.active#random--numbers
                .card-body
                    label.form-group.row
                        .col-md-3.col-form-label Minimum
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "minimum"
                                v-bind:step = "precisionStep"
                            )
                    label.form-group.row
                        .col-md-3.form-label Maximum
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "maximum"
                                v-bind:step = "precisionStep"
                            )
                    label.form-group.row
                        .col-md-3.form-label Decimal Places
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "precision"
                                step = 1
                            )
                    label.form-group.row
                        .col-md-3.form-label Amount
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "amount"
                                min = 1
                                step = 1
                            )
                    .text-right
                        button.btn.btn-success(v-on:click="generate")
                            | Generate
                .card-body.border-top.text-center(v-if = "output.length === 1")
                    span.display-2 {{output[0]}}
                .card-body.border-top(v-if = "output.length > 1")
                    ol.h1
                        li(v-for = "i in output")
                            strong {{i}}
                    .h3
                        | Total: {{outputSum}}
            .tab-pane.fade#random--strings
                .card-body
                    label.form-group.row
                        .col-md-3.col-form-label Length
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "length"
                                min = 1
                                step = 1
                            )
                    label.form-group.row
                        .col-md-3.col-form-label Amount
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "amount"
                                min = 1
                                step = 1
                            )
                    .row
                        .col
                            label.form-check
                                input.form-check-input(
                                    type = "checkbox"
                                    v-model = "charsUpper"
                                    v-bind:disabled = "charsCustom"
                                )
                                .form-check-label Uppercase Letters
                        .col
                            label.form-check
                                input.form-check-input(
                                    type = "checkbox"
                                    v-model = "charsLower"
                                    v-bind:disabled = "charsCustom"
                                )
                                .form-check-label Lowercase Letters
                        .col
                            label.form-check
                                input.form-check-input(
                                    type = "checkbox"
                                    v-model = "charsNumber"
                                    v-bind:disabled = "charsCustom"
                                )
                                .form-check-label Numbers
                        .col
                            label.form-check
                                input.form-check-input(
                                    type = "checkbox"
                                    v-model = "charsSymbol"
                                    v-bind:disabled = "charsCustom"
                                )
                                .form-check-label Symbols
                    .form-group.row
                        .col-md-3
                            label.form-check
                                input.form-check-input(
                                    type = "checkbox"
                                    v-model = "charsCustom"
                                )
                                .form-check-label Custom Source
                        .col-md-9
                            input.form-control(
                                type = "text"
                                v-model = "charsCustomInput"
                                v-bind:disabled = "!charsCustom"
                            )
                    .text-right
                        button.btn.btn-success(v-on:click = "generate")
                            | Generate
                .card-body.border-top.text-center(v-if = "output.length === 1")
                    .input-group.input-group-lg
                        input.form-control.text-monospace#random--strings--1output(
                            type = "text"
                            readonly
                            v-bind:value = "output[0]"
                        )
                        .input-group-append
                            button.btn.btn-secondary(
                                data-clipboard-target = "#random--strings--1output"
                            ) #[+fas.copy] Copy
                .card-body.border-top(v-if = "output.length > 1")
                    ol.h3
                        li(v-for = "i in output")
                            pre.text-monospace {{i}}
            .tab-pane.fade#random--coinflip
                .card-body
                    label.form-group.row
                        .col-md-3.col-form-label Coins
                        .col-md-9
                            input.form-control(
                                type = "number"
                                v-model = "amount"
                                min = 1
                                step = 1
                            )
                    .text-right
                        button.btn.btn-success(v-on:click = "generate")
                            | Generate
                .card-body.border-top.text-center#random--coinflip--output(v-if = "output.length")
                    div
                        span(v-for = "i in output")
                            span(v-bind:class = "{ 'd-none': !i }")
                                +fas.user-circle.text-primary.fa-3x
                            span(v-bind:class = "{ 'd-none': i }")
                                +fas.dot-circle.text-secondary.fa-3x
                    .h3
                        | Heads: {{heads}}, Tails: {{tails}}