//-
    title: "UI Experiments"
    date: "2017/08/05"
    tags: [ "ui" ]

extends /resources/layouts/blog/blog
include /resources/external/fontawesome-4.7.0/pug

append head
    link(
        rel = "stylesheet"
        href = "20170805-uiexperiments.css"
    )

block post

    h2 Alert
    .alert--1.warning Warning 1
    .alert--1.note Note 1
    .alert--1.tip Tip 1
    .alert--1.info Info 1
