//-
    title: "Shooting yourself in the foot"
    date: "2017/08/03"
    dateEdited: "2017/08/04"
    tags: [ "humor" ]

extends /resources/layouts/blog/blog

block post
    :markdown-it

        Shooting yourself in the foot:

        Javascript
        :   You attempt to shoot yourself in the foot. Unfortunately, the
            trigger is not part of the standard library, and you have to load a
            50kg addon to add it.  When you attempt to fire the gun, you find
            the library has been removed.

        Python
        :   You attempt to shoot yourself in the foot. Unfortunately you're used
            to a slightly different gun and end up ejecting the magazine. This is
            considered "pythonic".

        C
        :   You attempt to shoot yourself in the foot. Unfortunately, you
            accidentally put one too many bullets in the magazine, so the whole
            universe stops.

        C++
        :   You attempt to shoot yourself in the foot. Unfortunately, you use a
            deprecated bullet and the gun explodes. You decide to just use
            Boost's pre-shot foot instead.

        SQL
        :   You attempt to shoot yourself in the foot. Unfortunately, you forgot
            to specify your foot in the `WHERE` clause, so you end up shooting
            your foot, the ground, and everything else in the Universe.

        PowerShell
        :   You attempt to shoot yourself in the foot. Unfortunately, workflows
            do not support feet, and you end up silently shooting nothing.

        sh, ksh, etc.
        :   You attempt to shoot yourself in the foot. Unfortunately, you forgot
            to quote "your foot", and you end up shooting yourself, then
            complaining you can't find your feet.
        :   ```
            $ ls
            you.head you.body you_left.foot you_right.foot
            $ rm * .foot
            rm: cannot remove '.foot': No such file or directory
            $ ls
            $
            ```

        CSS
        :   You attempt to shoot yourself in the foot. Unfortunately, the
            ".foot" selector matches a lot of elements, and you end up shooting
            most things on the page. You also miss your own foot, because its
            margins move it from where its supposed to be.

        Go
        :   You attempt to shoot yourself in the foot. Unfortunately, the shoot
            method doesn't explicitly accept your type of gun. When you attempt
            to use the right gun, it fails, and you have no idea why because you
            didn't explicitly ask it.

        Rust
        :   You attempt to shoot yourself in the foot. Unfortunately, you're not
            allowed to fire the bullet because the magazine still has borrower
            access.

        PHP
        :   You attempt to shoot yourself in the foot. Unfortunately, you can't
            remember if it's called` shootgun`, `shoot_gun`, or `shoot2gun`.
            When you give up and throw the gun at your foot, it screams at you
            in Hebrew.

            [http://www.phpsadness.com/sad/1]

        Java
        :   You attempt to shoot yourself in the foot. Unfortunately, you loaded
            2 guns, but no bullets.

        XML
        :   You attempt to shoot yourself in the foot. Unfortunately, you can't
            actually shoot anything, only describe the gun in very vivid detail.

        JSON
        :   You attempt to shoot yourself in the foot. Unfortunately, you can't
            actually shoot anything, only describe the gun in very vivid detail,
            until you try to comment on the situation and die.

        Git
        :   You attempt to shoot yourself in the foot. Unfortunately, someone
            else somewhere in the universe shot their foot before you pull the
            trigger, and your shooting fails. You fix the issue by throwing away
            your gun and getting their gun instead.

        Selenium
        :   You attempt to shoot yourself in the foot. Unfortunately, you
            attempt to chamber a round, aim at your foot, pull the trigger, and
            wince in pain before the magazine is in the gun.
