extends /resources/layouts/main/main

block main
	h1 Gadgets
	p Just some stupid little apps. JavaScript is required for all of them!

	a( href = "editor" ).biglist--link
		h2 Editor
		small A full-screen Ace Editor. Supports some common editing actions.
	a( href = "svgarcs" ).biglist--link
		h2 SVG Arcs
		small A small gadget for displaying SVG Arcs.
