extends /resources/layouts/main/main

append head
	link(
		rel = "stylesheet"
		href = "index.css"
	)

block main
	h1 Gadgets
	p Just some stupid little apps. JavaScript is required for all of them!

	a( href = "editor" ).biglist--link
		h2 Editor
		small A full-screen Ace Editor. Supports some common editing actions.
		br
		small #[.tag._wip] #[.tag._desktop]
	a( href = "svgarcs" ).biglist--link
		h2 SVG Arcs
		small A small gadget for displaying SVG Arcs.
		br
		small #[.tag._wip] #[.tag._desktop]
	a( href = "colorpalette" ).biglist--link
		h2 Color Palette
		small A selection of color palettes.
