extends /resources/layouts/main/main
include /resources/layouts/main/util/search

block main
	h1 Gadgets
	p.
		Some small experimental JavaScript apps. JavaScript needs to be enabled
		for all of them!

	-
		search_tags = {
			"Desktop Only": "#007bff",
			"WIP": "#dc3545"
		};
	+search
		.list-group-item.disabled Large
		//-
			+search-item-link( "Editor", "editor", "Desktop Only", "WIP" )
				small.text-muted.
					A full-screen Ace Editor. Supports some common editing actions.
		+search-item-link( "Password Tool", "passwordtool" )
			small.text-muted.
				A tool to generate and evaluate strong passwords.
		+search-item-link( "Find and Replace", "findandreplace" )
			small.text-muted.
				A tool to find and replace text. Support Regexes and escape
				codes.
		+search-item-link( "Regex Tester", "regextester" )
			small.text-muted.
				Supports testing Javascript regexes against input.
		+search-item-link( "Debt Resolver", "debtresolver" )
			small.text-muted.
				Solves complicated debt graphs. Supports chained and cyclic
				graphs.
		.list-group-item.disabled Small
		+search-item-link( "SVG Arcs", "svgarcs", "Desktop Only" )
			small.text-muted.
				A small gadget for displaying SVG Arcs.
		+search-item-link( "Color Palette", "colorpalette" )
			small.text-muted.
				A selection of color palettes.
		+search-item-link( "Text Transform", "texttransform" )
			small.text-muted.
				A widget for performing transforms on text.
			//- Todo: Add note about URL encoding and such
