extends /resources/layouts/main/main

mixin link( url, name )
	a( href = url ).list-group-item.list-group-item-action
		h4.text-primary
			= name
		if block
			block
mixin text
	small.text-muted
		block
	br
mixin badge( type )
	- attributes.class = "mr-1 mt-1 badge badge-" + attributes.class;
	span&attributes( attributes )
		block

block main
	h1 Gadgets
	p.
		Some small experimental JavaScript apps. JavaScript needs to be enabled
		for all of them!

	.list-group
		+link( "editor", "Editor" )
			+text.
				A full-screen Ace Editor. Supports some common editing actions.
			+badge.primary Desktop Only
			+badge.danger WIP
		+link( "svgarcs", "SVG Arcs" )
			+text.
				A small gadget for displaying SVG Arcs.
			+badge.primary Desktop Only
		+link( "colorpalette", "Color Palette" )
			+text.
				A selection of color palettes.
		+link( "regextester", "Regex Tester" )
			+text.
				Supports testing Javascript regexes against input.
