
extends /resources/layouts/main/main

//-///////////////////////////////// Mixins ////////////////////////////////////

//-////////////////////////////////// DOM //////////////////////////////////////

block main
	h1.mb-3 Blog

	p.text-danger TODO: Blog
