extends /resources/layouts/main/main
include /resources/layouts/main/util/search

block main

	-
		function getOrdinal( num ) {
			const i = num % 10, k = num % 100;
			if ( i == 1 && k != 11 ) return "st";
			if ( i == 2 && k != 12 ) return "nd";
			if ( i == 3 && k != 13 ) return "rd";
			return "th";
		}
		const monthList = [
			"January",
			"February",
			"March",
			"April",
			"May",
			"June",
			"July",
			"August",
			"September",
			"October",
			"November",
			"December"
		];
		function formatDate( date ) {
			return date.getDate() + getOrdinal( date.getDate() )
				+ " " + monthList[ date.getMonth() ]
				+ " " + date.getFullYear();
		}

	+search-list
		each post in posts
			+search-item-link( post.title, post.url, post.tags )
				if post.date
					small.text-muted= formatDate( post.date )
