append scripts
    if !INCLUDED[ "jquery-3.2.1" ]
        - INCLUDED[ "jquery-3.2.1" ] = true;
        script(
            src = ROOT + "/resources/external/jquery-3.2.1/jquery-3.2.1.min.js"
        )
