-
	HEAD = HEAD || []
	BODY = BODY || []

	HEAD.push( `<link
		rel="stylesheet"
		href="/external/bootstrap/bootstrap.min.css">` )
	BODY.push( `<script
		src="/external/bootstrap/bootstrap.min.js"></script>` )
