extends /resources/layouts/main/main

append head
	link(
		rel = "stylesheet"
		href = "index.css"
	)

block main

	include palettes

	h1 Palettes

	input( readonly, type = "text", value = "#000000" )#output--input
	.form-check
		label.form-check-label
			input.form-check-input( type = "checkbox" )#output--copy
			= " "
			| Copy on select

	.card
		.card-header
			ul.nav.nav-tabs.card-header-tabs
				- var first = true;
				each name, id in names
					li.nav-item
						a.nav-link(
							href = "#"
							class = "nav-link palette--nav" +
								( first ? " active" : "" )
							data-target = id
						)= name
						- first = false;
		.card-body
			- var first = true;
			each palette, id in palettes
				table.palette--table(
					id = `palette--div--${id}`
					style = first ? "" : "display: none"
				)
					each row in palette
						tr
							each col in row
								td
									button.palette--color(
										style = `background: #${col}`
										data-color = "#" + col
									)
				- first = false;

append scripts
	script( src = "index.js" )
