extends /resources/layouts/main/main

append head
	link(
		rel = "stylesheet"
		href = "index.css"
	)

block main

	include palettes

	h1 Palettes

	input( readonly, type = "text", value = "#000000" )#output--input
	.form-check
		label.form-check-label
			input.form-check-input( type = "checkbox" )#output--copy
			= " "
			| Copy on select

	each palette in palettes
		table.palette--table
			each row in palette
				tr
					each col in row
						td
							button.palette--color(
								style = `background: #${col}`
								data-color = "#" + col
							)

append scripts
	script( src = "index.js" )
