-

    function toHex( c ) {
        var ls = function( v ) {
            return v.length < 2 ? "0" + v : v;
        }

        return ls( c[0].toString(16).toUpperCase() ) +
            ls( c[1].toString(16).toUpperCase() ) +
            ls( c[2].toString(16).toUpperCase() );
    }

    var palettes = {}
    var names = {}

    // Oxygen //////////////////////////////////////////////////////////////////

    names.oxygen = "Oxygen";
    palettes.oxygen = [
        [
            [ 249, 204, 202 ],
            [ 252, 217, 176 ],
            [ 255, 246, 200 ],
            [ 216, 232, 194 ],
            [ 153, 220, 198 ],
            [ 168, 221, 224 ],
            [ 164, 192, 228 ],
            [ 195, 180, 218 ],
            [ 232, 183, 215 ],
            [ 249, 202, 222 ],
            [ 222, 188, 133 ],
            [ 238, 238, 236 ]
        ],
        [
            [ 240, 134, 130 ],
            [ 242, 187, 136 ],
            [ 255, 242, 153 ],
            [ 177, 210, 143 ],
            [ 0, 204, 136 ],
            [ 0, 196, 204 ],
            [ 97, 147, 207 ],
            [ 142, 121, 185 ],
            [ 193, 115, 176 ],
            [ 240, 130, 176 ],
            [ 179, 146, 93 ],
            [ 211, 215, 207 ]
        ],
        [
            [ 232, 87, 82 ],
            [ 242, 155, 104 ],
            [ 255, 235, 85 ],
            [ 119, 183, 83 ],
            [ 0, 179, 119 ],
            [ 0, 167, 179 ],
            [ 44, 114, 199 ],
            [ 100, 74, 155 ],
            [ 177, 79, 154 ],
            [ 232, 82, 144 ],
            [ 143, 107, 50 ],
            [ 186, 189, 182 ]
        ],
        [
            [ 226, 8, 0 ],
            [ 236, 115, 49 ],
            [ 255, 221, 0 ],
            [ 55, 164, 44 ],
            [ 0, 153, 102 ],
            [ 0, 120, 128 ],
            [ 0, 87, 174 ],
            [ 70, 40, 134 ],
            [ 160, 39, 134 ],
            [ 226, 0, 113 ],
            [ 117, 81, 26 ],
            [ 136, 138, 133 ]
        ],
        [
            [ 191, 3, 3 ],
            [ 207, 73, 19 ],
            [ 243, 195, 0 ],
            [ 0, 137, 44 ],
            [ 0, 115, 77 ],
            [ 0, 96, 102 ],
            [ 0, 67, 138 ],
            [ 52, 23, 110 ],
            [ 133, 2, 108 ],
            [ 191, 3, 97 ],
            [ 87, 64, 30 ],
            [ 85, 87, 83 ]
        ],
        [
            [ 156, 15, 15 ],
            [ 172, 67, 17 ],
            [ 227, 173, 0 ],
            [ 0, 110, 41 ],
            [ 0, 89, 63 ],
            [ 0, 72, 77 ],
            [ 0, 49, 110 ],
            [ 29, 10, 85 ],
            [ 106, 0, 86 ],
            [ 156, 15, 86 ],
            [ 56, 37, 9 ],
            [ 46, 52, 54 ]
        ]
    ];

    // Web Safe ////////////////////////////////////////////////////////////////

    names.websafe = "Web Safe";
    palettes.websafe = [
        [
            [ 0, 0, 0 ],
            [ 0, 0, 51 ],
            [ 0, 0, 102 ],
            [ 0, 0, 153 ],
            [ 0, 0, 204 ],
            [ 0, 0, 255 ],
            [ 0, 51, 0 ],
            [ 0, 51, 51 ],
            [ 0, 51, 102 ],
            [ 0, 51, 153 ],
            [ 0, 51, 204 ],
            [ 0, 51, 255 ]
        ],
        [
            [ 0, 102, 0 ],
            [ 0, 102, 51 ],
            [ 0, 102, 102 ],
            [ 0, 102, 153 ],
            [ 0, 102, 204 ],
            [ 0, 102, 255 ],
            [ 0, 153, 0 ],
            [ 0, 153, 51 ],
            [ 0, 153, 102 ],
            [ 0, 153, 153 ],
            [ 0, 153, 204 ],
            [ 0, 153, 255 ]
        ],
        [
            [ 0, 204, 0 ],
            [ 0, 204, 51 ],
            [ 0, 204, 102 ],
            [ 0, 204, 153 ],
            [ 0, 204, 204 ],
            [ 0, 204, 255 ],
            [ 0, 255, 0 ],
            [ 0, 255, 51 ],
            [ 0, 255, 102 ],
            [ 0, 255, 153 ],
            [ 0, 255, 204 ],
            [ 0, 255, 255 ]
        ],
        [
            [ 51, 0, 0 ],
            [ 51, 0, 51 ],
            [ 51, 0, 102 ],
            [ 51, 0, 153 ],
            [ 51, 0, 204 ],
            [ 51, 0, 255 ],
            [ 51, 51, 0 ],
            [ 51, 51, 51 ],
            [ 51, 51, 102 ],
            [ 51, 51, 153 ],
            [ 51, 51, 204 ],
            [ 51, 51, 255 ]
        ],
        [
            [ 51, 102, 0 ],
            [ 51, 102, 51 ],
            [ 51, 102, 102 ],
            [ 51, 102, 153 ],
            [ 51, 102, 204 ],
            [ 51, 102, 255 ],
            [ 51, 153, 0 ],
            [ 51, 153, 51 ],
            [ 51, 153, 102 ],
            [ 51, 153, 153 ],
            [ 51, 153, 204 ],
            [ 51, 153, 255 ]
        ],
        [
            [ 51, 204, 0 ],
            [ 51, 204, 51 ],
            [ 51, 204, 102 ],
            [ 51, 204, 153 ],
            [ 51, 204, 204 ],
            [ 51, 204, 255 ],
            [ 51, 255, 0 ],
            [ 51, 255, 51 ],
            [ 51, 255, 102 ],
            [ 51, 255, 153 ],
            [ 51, 255, 204 ],
            [ 51, 255, 255 ]
        ],
        [
            [ 102, 0, 0 ],
            [ 102, 0, 51 ],
            [ 102, 0, 102 ],
            [ 102, 0, 153 ],
            [ 102, 0, 204 ],
            [ 102, 0, 255 ],
            [ 102, 51, 0 ],
            [ 102, 51, 51 ],
            [ 102, 51, 102 ],
            [ 102, 51, 153 ],
            [ 102, 51, 204 ],
            [ 102, 51, 255 ]
        ],
        [
            [ 102, 102, 0 ],
            [ 102, 102, 51 ],
            [ 102, 102, 102 ],
            [ 102, 102, 153 ],
            [ 102, 102, 204 ],
            [ 102, 102, 255 ],
            [ 102, 153, 0 ],
            [ 102, 153, 51 ],
            [ 102, 153, 102 ],
            [ 102, 153, 153 ],
            [ 102, 153, 204 ],
            [ 102, 153, 255 ]
        ],
        [
            [ 102, 204, 0 ],
            [ 102, 204, 51 ],
            [ 102, 204, 102 ],
            [ 102, 204, 153 ],
            [ 102, 204, 204 ],
            [ 102, 204, 255 ],
            [ 102, 255, 0 ],
            [ 102, 255, 51 ],
            [ 102, 255, 102 ],
            [ 102, 255, 153 ],
            [ 102, 255, 204 ],
            [ 102, 255, 255 ]
        ],
        [
            [ 153, 0, 0 ],
            [ 153, 0, 51 ],
            [ 153, 0, 102 ],
            [ 153, 0, 153 ],
            [ 153, 0, 204 ],
            [ 153, 0, 255 ],
            [ 153, 51, 0 ],
            [ 153, 51, 51 ],
            [ 153, 51, 102 ],
            [ 153, 51, 153 ],
            [ 153, 51, 204 ],
            [ 153, 51, 255 ]
        ],
        [
            [ 153, 102, 0 ],
            [ 153, 102, 51 ],
            [ 153, 102, 102 ],
            [ 153, 102, 153 ],
            [ 153, 102, 204 ],
            [ 153, 102, 255 ],
            [ 153, 153, 0 ],
            [ 153, 153, 51 ],
            [ 153, 153, 102 ],
            [ 153, 153, 153 ],
            [ 153, 153, 204 ],
            [ 153, 153, 255 ]
        ],
        [
            [ 153, 204, 0 ],
            [ 153, 204, 51 ],
            [ 153, 204, 102 ],
            [ 153, 204, 153 ],
            [ 153, 204, 204 ],
            [ 153, 204, 255 ],
            [ 153, 255, 0 ],
            [ 153, 255, 51 ],
            [ 153, 255, 102 ],
            [ 153, 255, 153 ],
            [ 153, 255, 204 ],
            [ 153, 255, 255 ]
        ],
        [
            [ 204, 0, 0 ],
            [ 204, 0, 51 ],
            [ 204, 0, 102 ],
            [ 204, 0, 153 ],
            [ 204, 0, 204 ],
            [ 204, 0, 255 ],
            [ 204, 51, 0 ],
            [ 204, 51, 51 ],
            [ 204, 51, 102 ],
            [ 204, 51, 153 ],
            [ 204, 51, 204 ],
            [ 204, 51, 255 ]
        ],
        [
            [ 204, 102, 0 ],
            [ 204, 102, 51 ],
            [ 204, 102, 102 ],
            [ 204, 102, 153 ],
            [ 204, 102, 204 ],
            [ 204, 102, 255 ],
            [ 204, 153, 0 ],
            [ 204, 153, 51 ],
            [ 204, 153, 102 ],
            [ 204, 153, 153 ],
            [ 204, 153, 204 ],
            [ 204, 153, 255 ]
        ],
        [
            [ 204, 204, 0 ],
            [ 204, 204, 51 ],
            [ 204, 204, 102 ],
            [ 204, 204, 153 ],
            [ 204, 204, 204 ],
            [ 204, 204, 255 ],
            [ 204, 255, 0 ],
            [ 204, 255, 51 ],
            [ 204, 255, 102 ],
            [ 204, 255, 153 ],
            [ 204, 255, 204 ],
            [ 204, 255, 255 ]
        ],
        [
            [ 255, 0, 0 ],
            [ 255, 0, 51 ],
            [ 255, 0, 102 ],
            [ 255, 0, 153 ],
            [ 255, 0, 204 ],
            [ 255, 0, 255 ],
            [ 255, 51, 0 ],
            [ 255, 51, 51 ],
            [ 255, 51, 102 ],
            [ 255, 51, 153 ],
            [ 255, 51, 204 ],
            [ 255, 51, 255 ]
        ],
        [
            [ 255, 102, 0 ],
            [ 255, 102, 51 ],
            [ 255, 102, 102 ],
            [ 255, 102, 153 ],
            [ 255, 102, 204 ],
            [ 255, 102, 255 ],
            [ 255, 153, 0 ],
            [ 255, 153, 51 ],
            [ 255, 153, 102 ],
            [ 255, 153, 153 ],
            [ 255, 153, 204 ],
            [ 255, 153, 255 ]
        ],
        [
            [ 255, 204, 0 ],
            [ 255, 204, 51 ],
            [ 255, 204, 102 ],
            [ 255, 204, 153 ],
            [ 255, 204, 204 ],
            [ 255, 204, 255 ],
            [ 255, 255, 0 ],
            [ 255, 255, 51 ],
            [ 255, 255, 102 ],
            [ 255, 255, 153 ],
            [ 255, 255, 204 ],
            [ 255, 255, 255 ]
        ]
    ];
