-
	var palettes = {}

	// Oxygen //////////////////////////////////////////////////////////////////

	palettes.oxygen = [
		[
			"F9CCCA",
			"FCD9B0",
			"FFF6C8",
			"D8E8C2",
			"99DCC6",
			"A8DDE0",
			"A4C0E4",
			"C3B4DA",
			"E8B7D7",
			"F9CADE",
			"DEBC85",
			"EEEEEC"
		],
		[
			"F08682",
			"F2BB88",
			"FFF299",
			"B1D28F",
			"00CC88",
			"00C4CC",
			"6193CF",
			"8E79B9",
			"C173B0",
			"F082B0",
			"B3925D",
			"D3D7CF"
		],
		[
			"E85752",
			"F29B68",
			"FFEB55",
			"77B753",
			"00B377",
			"00A7B3",
			"2C72C7",
			"644A9B",
			"B14F9A",
			"E85290",
			"8F6B32",
			"BABDB6"
		],
		[
			"E20800",
			"EC7331",
			"FFDD00",
			"37A42C",
			"009966",
			"007880",
			"0057AE",
			"462886",
			"A02786",
			"E20071",
			"75511A",
			"888A85"
		],
		[
			"BF0303",
			"CF4913",
			"F3C300",
			"00892C",
			"00734D",
			"006066",
			"00438A",
			"34176E",
			"85026C",
			"BF0361",
			"57401E",
			"555753"
		],
		[
			"9C0F0F",
			"AC4311",
			"E3AD00",
			"006E29",
			"00593F",
			"00484D",
			"00316E",
			"1D0A55",
			"6A0056",
			"9C0F56",
			"382509",
			"2E3436"
		]
	]
