//- Mixins /////////////////////////////////////////////////////////////////////

mixin if-ie( condition, showInNonIE )
    -
        if ( condition == null ) { condition = "IE"; }
        if ( showInNonIE == null ) { showInNonIE = condition == "IE"; }

    != `<!--[if ${condition}]>`
    != showInNonIE ? "-->" : ""

    block

    != showInNonIE ? "<!--" : ""
    != "<![endif]-->"

//- DOM ////////////////////////////////////////////////////////////////////////

block pre

doctype html
html( lang = "en" )
    head
        meta( charset = "UTF-8" )
        meta(
            name = "viewport"
            content = "width=device-width, initial-scale=1.0"
        )
        meta(
            http-equiv = "X-UA-Compatible"
            content = "ie=edge"
        )

        link(
            rel = "apple-touch-icon-precomposed"
            href = ROOT + "/resources/favicon.png"
        )
        link(
            rel = "icon"
            href = ROOT + "/resources/favicon.png"
        )

        block title
            title Lixquid

        block head

    body
        block body
        block scripts
