// This is App-level styling that applies everywhere.

@import "~bootstrap/dist/css/bootstrap.css"
@import "~bootstrap-vue/dist/bootstrap-vue.css"
@import "~@fortawesome/fontawesome-free/css/all.min.css"

body
    color #346
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif

a
    color #26c
    text-decoration none

    &:hover
        color lighten(@color, 40%)