doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lixquid

        link(rel="icon", href="~/src/assets/favicon.png")
        link(rel="stylesheet", href="~/node_modules/bootstrap/dist/css/bootstrap-reboot.min.css")
        link(rel="stylesheet", href="~/src/index.styl")
    body
        .header
            .header--bg
            .header--contents
                object.header--logo(data="~/src/assets/logo.svg",type="image/svg+xml")
