html,
body
    margin 0
    padding 0
    width 100%
    height 100%
    background #eee
    font-family Arial, Helvetica, sans-serif

.header--container
    overflow hidden
    width 100%
    height 100%

    .header--bg
        position absolute
        width 100%
        height 100%
        background url("/images/bg_light.png") center / cover
        filter blur(20px)
        opacity 0
        transition opacity 1s ease-in-out, filter 3s ease-in-out

    $logoSize = 30
    $smallViewportLogoSize = 50
    $logoCalc = "calc(min(%svw, %svh))"

    .header--content
        position absolute
        top 50%
        right 0
        left 0
        text-align center
        transform translateY(-50%)

    .header--logo
        width $logoCalc % ($logoSize $logoSize)
        height @width

    @media (max-width 700px), (max-height 700px)
        .header--logo
            width $logoCalc % ($smallViewportLogoSize $smallViewportLogoSize)
            height @width

    .header--links
        font-size 3rem

        a
            color #333

            &:hover
                color #666

            & + a
                margin-left 1rem

    .header--scrolldown
        position absolute
        right 0
        bottom 0.5rem
        left 0
        color #333
        text-align center
        font-size 2rem
        opacity 0.3
        animation-name header--scrolldown
        animation-duration 1s
        animation-timing-function ease-in-out
        animation-iteration-count infinite
        animation-direction alternate-reverse

        @keyframes header--scrolldown
            from
                opacity 0.3

            to
                opacity 0.5

h1
    margin 2rem 0

$cardSpacing = 2rem

.main--card
    background #fff

    & + .main--card
        margin-top $cardSpacing

    .main--card--header
        position relative
        padding-top 0.6rem
        padding-bottom @padding-top
        padding-left @padding-top * 2
        background-color var(--card-color)
        color var(--card-color-text, white)
        font-size 2rem

        &:before
            position absolute
            top 0
            right 1rem
            bottom 0
            left 0
            z-index 0
            background-image var(--card-bg)
            background-position right
            background-size 20%
            background-repeat no-repeat
            content ""
            opacity 0.3

        span
            z-index 1

    .main--card--content
        padding 1rem
        color #333

    .main--card--tag
        background-color var(--card-color, white)
        color var(--card-color-text, white)

    a.main--card--source
        color var(--card-color)

        &:hover
            text-decoration underline

    .badge + .badge
        margin-left 0.5rem

    .d-flex
        padding 0 0.5rem 0.5rem

    a:hover
        text-decoration none

@media (max-width 767px)
    .col-md-6 + .col-md-6
        margin-top $cardSpacing

.footer--quote
    margin-top 3rem
    margin-left 50%
    width 50%
    text-align right
    opacity 0.6

    @media (max-width 767px)
        margin-left 0
        width 100%

.js-only
    display none

    html.js-enabled &
        display initial

html.card-listlayout
    .col-md-6
        flex 0 0 100%
        max-width 100%

        & + .col-md-6
            margin-top $cardSpacing
