<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Lixquid

        link(rel="stylesheet", href="/../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/../node_modules/@fortawesome/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="/index.styl")
    body
        .header--container
            .header--bg
            .header--content
                object.header--logo(data="/images/logo.svg", type="image/svg+xml")
                nav.header--links
                    mixin link(name, link, icon)
                        a(href=link, title=name)
                            i(class=`fab fa-${icon}`)
                    +link("GitLab", "https://gitlab.com/lixquid", "gitlab")
                    +link("GitHub", "https://github.com/lixquid", "github")
                    +link("Steam", "https://steamcommunity.com/lixquid", "steam")
                    +link("Discord (Lixquid#8008)", "https://discord.gg/PDjFHV9", "discord")
                    +link("Twitter", "https://twitter.com/lixquid", "twitter")
            .header--scrolldown
                i.fas.fa-chevron-down
            noscript
                style.
                    .header--bg {
                        opacity: 1 !important;
                        filter: blur(6px) !important;
                    }
        script(src="/index.ts")
